html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body{
  background: white;
}

main{
  width: 100%;
  height:100%;
}

#sketch-container{
  width: 100%;
  height: 100%;
}

#gui-container{
  position: fixed;
  bottom: 0;
  left: 10px;
  z-index: 100;
  width: 220px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

/*styled button */


.button{
  background-color: #371bd3;
  border: solid 1px #371bd3;
  border-radius: 10px;
  color: white;
  padding: 15px 20px;
  text-align: CENTER;
  text-decoration: none;
  display: block;
  margin:10 auto;
  font-size: 16px;
  min-width: 200px;
  cursor: pointer;
  float:left;
}




.button:hover{
  background-color:white;
  color: #371bd3;
}



/*add inactive state styling*/
.inactive{
  cursor:default;
  background-color: lightgray;
  border-color: lightgray;
  ;
  color: white;
}

@media screen and (max-width: 600px) {
  body{
    color: blue;
  }
}
